<launch>
<!--              
    <param name="Kp" value="3" />
    <param name="Kd" value="0.2" />
    <param name="Ki" value="3" />

    <param name="Kp" value="8" />
    <param name="Kd" value="0.4" />
    <param name="Ki" value="3" />
-->
<group ns = "leg_4">

    <param name="Kp" value="0.5" />
    <param name="Kd" value="0" />
    <param name="Ki" value="0" />

    <param name="LEG_NAME" value="LEG_4" type="string"/>  

    <param name="LEG_F" value="4" type="int" />
    <param name="LEG_P" value="7" type="int" />
    <node name="motor_scan" pkg="quadruped_robot" type="motor_scan.py" output = "screen"/>
</group>

<group ns = "leg_2">

    <param name="Kp" value="0.5" />
    <param name="Kd" value="0" />
    <param name="Ki" value="0" />
    
    <param name="LEG_NAME" value="LEG_2" type="string" />  

    <param name="LEG_F" value="3" type="int" />
    <param name="LEG_P" value="8" type="int" />
    <node name="motor_scan" pkg="quadruped_robot" type="motor_scan_ax12.py" output = "screen"/>
</group>

<group ns = "leg_1">

    <param name="Kp" value="0.5" />
    <param name="Kd" value="0" />
    <param name="Ki" value="0" />

    <param name="LEG_NAME" value="LEG_1" type="string" />    
    <param name="LEG_F" value="1" type="int" />
    <param name="LEG_P" value="2" type="int" />
    <node name="motor_scan" pkg="quadruped_robot" type="motor_scan.py" output = "screen"/>
</group>

<group ns = "leg_3">

    <param name="Kp" value="0.5" />
    <param name="Kd" value="0" />
    <param name="Ki" value="0" />

    <param name="LEG_NAME" value="LEG_3" type="string" />    
    <param name="LEG_F" value="5" type="int" />
    <param name="LEG_P" value="6" type="int" />
    <node name="motor_scan" pkg="quadruped_robot" type="motor_scan.py" output = "screen"/>
</group>

<node name="animation" pkg="quadruped_robot" type="animation.py" />
<node name="gate_control" pkg="quadruped_robot" type="gate_control.py"  output = "screen"/>
<node name="service_controller" pkg="quadruped_robot" type="service_controller.py" output = "screen"    />

</launch>